:host {
  display: flex;

  .card {
    width: 100%;
    display: flex;
  }

  .--flex-direction-column {
    flex-direction: column;
  }

  .--flex-direction-row {
    flex-direction: row;
  }

  .border-style-standard {
    border: 1px solid #e0e0e0;
  }
}
