html, body, p, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

//Colours
:root {
  --colour-primary: #673ab7;
  // --colour-primary: #348aec;
  --colour-secondary: #ffffff;
  --colour-tertiary: #000000;

  --text-colour-primary: #fff;
  --text-colour-secondary: #348aec;
  --text-colour-tertiary: #000000;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
