:host {
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 2px 2px 2px 0 rgba(34, 33, 33, 0.05);
  }

  .--primary {
    background-color: var(--colour-primary);
    color: var(--text-colour-primary);
  }

  .--secondary {
    background-color: var(--colour-secondary);
    color: var(--text-colour-secondary);
  }

  .--small {
    width: 80px;
  }

  .--medium {
    width: 120px;
  }

  .--large {
    width: 160px;
  }
}
