<ng-container *ngIf="view === 'table'">
  <app-card class="cards-table">
    <table mat-table [dataSource]="exercises" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let exercise"> {{exercise.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let exercise"> {{exercise.name}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let exercise"> {{exercise.description}} </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Category </th>
        <td mat-cell *matCellDef="let exercise"> {{exercise.category}} </td>
      </ng-container>

      <ng-container matColumnDef="weighted">
        <th mat-header-cell *matHeaderCellDef> Weighted </th>
        <td mat-cell *matCellDef="let exercise"> {{exercise.weighted ? 'Y' : 'N' }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToRender"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToRender;"></tr>
    </table>
  </app-card>
</ng-container>

<ng-container *ngIf="view === 'card'">
  <app-card class="cards-container">
    @for (card of exercises; track $index) {
      <app-card class="card" cdkDrag>
        <h3>{{ card.name }}</h3>
        <p>{{ card.category }}</p>
      </app-card>
    }
  </app-card>
</ng-container>
