<mat-sidenav-container class="sidenav-app-container" [hasBackdrop]="true">

  <mat-sidenav #sidenav mode="side"  [(opened)]="sidenavToggled" (openedChange)="onSidenavOpened()" (closed)="onSidenavClosed()">
    <div class="sidenav-popover">

      <div class="popover-navigation-buttons-container">
        @for (route of routesToRender; track $index) {
          @if (routeToTitleMap.get(route.path ?? '')) {
            <button mat-fab extended color="secondary" (click)="onNavigationButtonClick(route)">
              <mat-icon>menu</mat-icon>
              {{ routeToTitleMap.get(route.path ?? '') }}
            </button>
          }
        }
      </div>

    </div>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-app-content">
    <div>
      <app-top-toolbar class="toolbar" (toggleSidenav)="onToggleSidenav()"></app-top-toolbar>
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
