<mat-sidenav-container class="sidenav-app-container">

  <mat-sidenav #sidenav mode="side"  [(opened)]="sidenavToggled" (openedChange)="onSidenavOpened()" (closed)="onSidenavClosed()">
    <div class="sidenav-popover">

      <div class="popover-navigation-buttons-container">
        @for (route of routesToRender; track $index) {
          <button mat-fab extended color="secondary" (click)="onNavigationButtonClick(route)">
            <mat-icon>menu</mat-icon>
            {{ route.path }}
          </button>
        }
      </div>

    </div>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-app-content">
    <app-top-toolbar class="toolbar" (toggleSidenav)="onToggleSidenav()"></app-top-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>

</mat-sidenav-container>
