.toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: var(--colour-primary);

  .toolbar__buttons {
    margin: 0px 8px;
  }

  .toolbar__profile {
    height: 40px;
    width: 40px;
  }
}
